<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DateSaver WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DateSaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DateSaverKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BA84CC51ADCD73800713E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BA84CDF1ADCD73800713E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BA84CFD1ADCD74400713E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BA84D181ADCD7F300713E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BA84D221ADCD7F300713E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
